@model MayBook.Models.Profile

@{
    ViewBag.Title = "Index";
}
<div id="page">
    <div> </div>
    <div id="feed">
        <div id="message">
            <input id="message-text" type="text" placeholder="Write a message" />
            <input type="button" value="Send" onclick="MayBook.SendMessage()"/>
        </div>
        @foreach(var post in Model.Posts)
        {
            <div id="@post.PostId" class="post">
            <a href="/Page/Index/@post.Users1.UserId">@post.Users1.Name</a><br />
            @post.CreationDate.ToLongTimeString()
            @if(User.Identity.Name == post.SenderId.ToString())
            {
                <input type="button" value="Change" onclick="MayBook.Change(@post.PostId)"/>
                <input type="button" value="Delete" onclick="MayBook.Delete(@post.PostId)"/>
            }
            <p id="message-@post.PostId.ToString()" )>@post.Body</p>
            </div>   
        }
    <div id="page-div">
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            if (i == Model.Page)
            {
                <a class="pages" id="current-page" href="/Page/Index/@Model.User.UserId.ToString()?postsPage=@i">@i</a>
            }
            else
            {
                <a class="pages"  href="/Page/Index/@Model.User.UserId.ToString()?postsPage=@i">@i</a>
            }
        }

    </div>
    </div>
    <div id="account-info">
        <h2>@Model.User.Name</h2>
        <p>@Model.User.RegisterDate.ToLongDateString()</p>
        @if (Model.User.Avatar != null)
        {
            <img src="../../@Model.User.Avatar.Trim()" />
        }
    </div>
</div>